::-webkit-scrollbar {
    width: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

header img {
    width: 30px;
}

header {
    width: min(1200px, 90vw);
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 30px;
}

main .banner {
    min-height: 100vh; /* Use min-height instead of height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin-top: -70px;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.banner button {
    cursor: pointer;
    transition: 0.5s;
}

.banner button:hover {
    background-color: #c691e6;
    color: #040018;
    box-shadow: 0 0 50px #c691e6;
}

h1 {
    --to: left;
    font-size: 4em;
    font-weight: bold;
    background-image: linear-gradient(to var(--to), #89a5df, #e46e7f, #e8e191);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    line-height: 1em;
}

h1.right {
    --to: right;
}

.banner #dotsCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
